body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 5px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

section {
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 50%;
  margin-bottom: 20px;
}

footer {
  width: 100vw;
  height: 5rem;
  background-color: #333;
  color: #fff;
  margin-top: auto;
}

footer p {
  text-align: center;
  font: 1.2em sans-serif;
  text-transform: capitalize;
  line-height: 5rem;
}
p {
  margin: 0;
  padding: 0;
}
